.submission {
  padding: 3% 0% 3% 0%;
}

.submission>* {
width: 60%;
}

.submission>a {
  padding-left: 20%;
}

.taboola-main-div {
  width: 60%;
  padding: 0% 5% 5% 5%;
  margin: 0 auto;
}

.taboola-article-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  justify-items: center;
  align-items: start;
  gap: 1rem;
}

.taboola-anchor>* {
  width: 100%;
}

.taboola-name {
  display: -webkit-box;
  max-width: 100%;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: black;
}

.taboola-brand {
  color: gray;
}

.taboola-article>a {
  text-decoration: none;
}

.taboola-header-sponsor>a {
  color:black;
  text-decoration: none;
}

.taboola-logo {
  height: 1rem;
  width: 4rem;
}

.taboola-header-sponsor {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1%;
}

.you-may-like {
  font-weight: bold;
}

@media (max-width: 414px) {
  .taboola-article-container {
    grid-template-columns: 1fr;
  }
}

